<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
{# templates/emails/registration.html.twig #}
<h3>Ya estas registrado!</h3>

Saludos {{ name }}!Tu registro se a realizado correnctamente.
Solo queda un paso, activar tu cuenta. Para ello haga click en
el siguiente enlaze:

{# example, assuming you have a route named "login" #}
<a href="{{ my_function('URL_FRONTEND') }}" class="btn btn-primary btn-lg square" role="button">Verificar</a>

Gracias!

    </body>
</html>
